:root {
  --primary-color: #1a73e8;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: white;
  overflow: hidden;
  padding-left: 100px;
  background: linear-gradient(rgba(12, 12, 12, 0), rgba(5, 0, 0, 0.5)),
    url('D: \University\Semester 6\Advance Computer Programming\Project\tech-twirl\src\components\HeroSection.jsx') no-repeat center center/cover;
}

.heroOverlay {
  position: relative;
  z-index: 2;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

.heroNav {
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.heroLink {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.heroLink:hover {
  color: var(--primary-color);
}

.separator {
  margin-right: 10px;
}

.heroButton {
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1.5s;
}

.heroButton:hover {
  background-color: #1662c4;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroNav {
    justify-content: center;
  }

  .heroButton {
    font-size: 0.9rem;
  }
}