.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  overflow: hidden;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.5px);
  opacity: rgba(56, 54, 54, 0.653);
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-left: 100px;
  text-align: left;
}

.heroContent h1,
.heroContent p {
  font-size: 2rem;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
}

.heroContent p {
  margin-top: 10px;
  font-size: 1rem;
}

.heroButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: #004aad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
}

.heroButton:hover {
  background: #063970;
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
